<article>
    <!--ui-bootstrap carousel example see http://angular-ui.github.io/bootstrap/#!#carousel for documentation--> 
    <div uib-carousel active="home.carousel.Settings.Active" interval="home.carousel.Settings.Interval" no-wrap="home.carousel.Settings.NoWrap">
        <div uib-slide ng-repeat="slide in home.carousel.Slides track by slide.ID" index="slide.ID">
            <img class="img-responsive" ng-src="{{slide.URL}}">
            <div class="carousel-caption">
                <h1>{{slide.Title}}</h1>
                <p class="lead">{{slide.SubText}}</p>
            </div>
        </div>
    </div>
    <br>
    <oc-product-carousel title="Featured Products" products="home.featuredProducts"></oc-product-carousel>
</article>
<div class="row top-buffer">
    <div class="col-sm-12">
        <center>
        <h1>Welcome to the HoneyBaked Ham store!!</h1>
        <p>This is your one-stop shop for all of the smallwares, parts and supplies that you need to run your restaurant</p>
        <p>As part of this program, you will also get:</p>
        <ul style="list-style-type:none">
            <li><STRONG>FREE</strong> freight for orders over $250</li>  
            <li>1% discount for all online orders, calculated at the time of order</li>
            <li>Same-day shipping on orders placed by 3 PM your local time</li>
        </ul>
        <p>Please see below for your Tundra customer service and account team contacts. <strong>We are here to take care of you!</strong></p>
        </center>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-xs-12">
        <center>
        <h2>Contacts</h2>
        </center>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="top-buffer">
            <center>
            <h4>Customer Service</h4>
            <p>Order Entry, Parts Research, and Product Returns</p>
            <p><i>Si hablamos Espanol. Porfavor pregunte por un representante que habla Espanol cuando llame.</i></p>
            <abbr title="Phone">P:</abbr> 800-447-4941 press #2
            </center>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="top-buffer">
            <center>
            <div class="media">
              <div class="media-body">
                <h4 class="media-heading">Jessica Larson</h4>
                <div class="job">Business Development Director</div>
                <div class="mail"><a href="mailto:jlarson@etundra.com">jlarson@etundra.com</a></div>
                <div class="phone"><abbr title="Phone">P:</abbr> 949-315-1344</div>
                </center>
              </div>
            </div>
        </div>
    </div>
</div>